<% include ./partials/header %>
<h2 class="mt-4">Versions List for : <%= project.name %></h2>
<% include ./partials/messages %>
<a href="/version/add/<%= project.id %>" class="btn btn-primary">Add A Version</a>
</br></br>

<table id="example" class="table table-striped table-bordered" style="width:100%">
  <thead>
    <tr>
      <th>Version Number</th>
      <th>Release Date</th>
      <th>Status</th>
      <th></th>

    </tr>
  </thead>
  <tbody>

    <% versions.forEach(version => { %>

    <tr scope="row">

      <td><%= version.version %></td>

      <td><%= version.releasedate %> </td>

      <td>
       <% if(version.version == project.latestVersion) { %> <p class="text-success font-weight-bold">current</p> <% } else { %> <p class="text-dark font-weight-bold">legacy</p> <% } %>
      </td>


      <td>


        <div class="btn-group">
          <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-cog"></i> <b>Options</b>
          </button>
          <div class="dropdown-menu">

            <a class="dropdown-item" href="/version/edit/<%= version._id %>"><i class="fas fa-edit" aria-hidden="true"></i> Edit</a>
            <a class="dropdown-item" href="/version/delete/<%= version._id %>"><i class="fas fa-trash-alt" aria-hidden="true"></i> Delete</a>
          </div>
        </div>

      </td>


    </tr>

    <% }) %>

  </tbody>
</table>